* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: rgb(238, 244, 237);
    font-family: monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: rgb(238, 244, 237);
    background-color: rgb(19, 46, 50);
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.text_box{
    width: 50%;
    height: 200px;
    border: 2px solid #aaa;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    padding: 8px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: border-color .5s, box-shadow .5s;
}

.input_box:hover {
    border-color: rgb(83, 162, 190);
    box-shadow:0 0 8px 0 rgb(83, 162, 190);
    transition: border-color .2s,  box-shadow .2s;
    cursor: text;
}

.input_box:focus {
    border-color: rgb(255, 200, 87);
    box-shadow:0 0 8px 0 rgb(255, 200, 87);
    transition: border-color .2s,  box-shadow .2s;
}

.output_box:hover {
    border-color: rgb(83, 162, 190);
    box-shadow:0 0 8px 0 rgb(83, 162, 190);
    transition: border-color .2s,  box-shadow .2s;
    cursor: pointer;
}

.output_box:focus {
    border-color: lime;
    box-shadow:0 0 8px 0 lime;
    transition: border-color .2s,  box-shadow .2s;
}

.tooltip {
    font-size: 17px;
    text-align: center;
    width: 50%;
    color: white;
    padding: .8rem;
    border-radius: .3rem;
    width: max-content;
    max-width: 100%;
    background: rgb(19, 46, 50);
    position: absolute;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) translateY(0%) scale(0);
    transition: .2s;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 10px);
    border-bottom: 10px solid rgb(19, 46, 50);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translateY(20%);
}

.output_box:hover ~ .tooltip{
    opacity: 1;
    transform: translateX(-50%) translateY(30%) scale(1);
}

.footer {
    background-color: rgb(19, 46, 50);
    color: rgb(238, 244, 237);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer-info {
    background-color: rgb(19, 46, 50);
    font-size: 20px;
}

.footer-contacts {
    color: rgb(238, 244, 237);
    background-color: rgb(19, 46, 50);
    padding-top: 20px;
    font-size: 18px;
}

.footer-contact {
    color: rgb(238, 244, 237);
    background-color: rgb(19, 46, 50);
    padding-top: 20px;
    margin: 10px;
    font-size: 18px;
    transition: .2s;
}

.footer-contact:hover {
    font-size: larger;
    text-decoration: underline;
}