* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: rgb(238, 244, 237);
    font-family: monospace;
}

.title {
    color: rgb(238, 244, 237);
    background-color: rgb(19, 46, 50);
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: block;
    font-size: 35px;
}

.input_box {
    width: 50%;
    height: 80px;
    border: 2px solid #aaa;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    padding: 8px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: border-color .3s box-shadow .3s;
    cursor: text;
}

.output_box {
    width: 50%;
    height: 80px;
    border: 2px solid #aaa;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    padding: 8px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: border-color .3s box-shadow .3s;
    cursor: pointer;
}

.input_box:hover {
    border-color: rgb(83, 162, 190);
    box-shadow:0 0 8px 0 rgb(83, 162, 190);
    transition: border-color .2s  box-shadow .2s;
}

.input_box:focus {
    border-color: rgb(255, 200, 87);
    box-shadow:0 0 8px 0 rgb(255, 200, 87);
    transition: border-color .2s  box-shadow .2s;
}


.output_box:hover {
    border-color: rgb(83, 162, 190);
    box-shadow:0 0 8px 0 rgb(83, 162, 190);
    transition: border-color .2s  box-shadow .2s;
}

.output_box:focus {
    border-color: rgb(255, 200, 87);
    box-shadow:0 0 8px 0 rgb(255, 200, 87);
    transition: border-color .2s  box-shadow .2s;
}

.toast {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s visibility .2s;
}

.toast_show {
    opacity: 1;
    visibility: visible;
}